.blue_footer_top{
    background-color:#0055a4;
    padding:40px 0 20px 0;
    color:#fff;
    p{
        color:#fff;
        font-size:20px;
    }
    h2{
        color:#fff;
        font-size:38px;
        letter-spacing: 1px;
        margin-bottom: 0px;
    }

    .two_col_buttons{
       .vc_column_container {
           padding:15px;
            .vc_column-inner{
                padding:55px 35px 20px 35px;
                background-color:#004382;
                border-radius: 5px;
            }   

       }
      
    }
}


@media(min-width:$screen-md-min){
    .blue_footer_top{
        p{
            padding-left:100px;
            padding-right:100px;
        }
    }
}