.home_membership{
    padding-bottom:30px;
    .wpb_wrapper{
        .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
            margin-bottom:0;
        }
        h2{
            font-size:40px;
            margin-bottom:10px;
        }
        p{
            padding:5px 70px;
            font-weight:lighter;
        }
    }
    
}