.fullwidthbanner-container{
    background-color:#002c5d !important;
}

.slider{
    background-color:#002c5d;
    .slider-mobile{
        padding-right:500px;
    }
    
    .tp-caption{
        img{
            margin:15px auto 10px auto;
        }
        h1{
            color:#fff;
            //font-family:enge_holzschriftregular;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            line-height:35% !important;
            text-align: center;
            text-shadow: 1px 3px 3px #333;
            &.yellow{
                color:#fbe600;
            }
        }
        .slider-buttons{
            padding:10px 10px 10px 343px;
            .row{
                position:relative;
                margin-bottom:10px;
                .inline-block{
                    display:inline-block;
                    width:30%;
                }
                .text{
                    font-size:29px;
                    color:#fff !important;
                    float:left;
                    position:absolute;
                    top:6px;
                    font-weight:bold;
                }
                .slider-button{
                    height:25px;
                    padding:25px 40px;
                    border:2px solid #fff;
                    border-radius: 5px;
                    float:right;
                }
                .google{
                    width:150px;
                    float:right;
                }
                .apple{
                    width:150px;
                    float:right;
                    margin-right:15px;
                }
            }
        }
    } 
}

.tp-caption.very_big_white, .very_big_white{
    background-color:rgb(40, 76, 151) !important;
}




@media(min-width:$screen-md-min){
    .slider{
        .tp-caption{
            margin-left:-120px !important;
            h1{
                font-size:100px;
                letter-spacing: 2px;
                margin-bottom:15px;
            }
            .slider-buttons{
               .row{
                    .apple{
                        width:170px;
                        margin-right:5px;
                    }
                    .google{
                        width:170px;
                    }
                }
            }
        }
    }
}

@media(min-width:$screen-md-min) and (max-width:$screen-md-max){
    .slider{
        .tp-caption{
            h1{
                font-size:85px;
            }
            .slider-buttons{
                .row{
                    .text{
                        font-size:24px;
                    }
                    .apple{
                        width:150px;
                        margin-right:5px;
                    }
                    .google{
                        width:150px;
                    }
                }
            }
        }
   }
}

@media (min-width:$screen-sm-min) and (max-width: $screen-sm-max){
    .tp-caption {
        h1{
            font-size:60px !important;
        }
    }
    
    .slider .tp-caption .slider-buttons .row .apple{
        margin-right:27px;
    }
    
    .tp-caption{
        padding-right:10px;
        .slider-buttons{
            padding-top:20px;
        }
    }
}

@media (min-width:$screen-xs-min) and (max-width: $screen-xs-max){
    .slider{
        .slider-mobile{
            padding-right:400px !important;
        }
    }
    
    .tp-caption{
        h1{
            font-size:50px;
        }
        .arrow{
            display:none;
        }
        .apple{
            float:left !important;
        }
        .slider-buttons{
            padding:20px 10px 10px 140px !important;
            float:left !important;
        }
    }
    
}
@media (min-width:$screen-xxs-min) and (max-width: $screen-xxs-max){
    .slider{
        .slider-mobile{
            padding-right:250px !important;
        }
    }
    .tp-caption {
        h1{
            font-size:40px;
        }
        .slider-buttons{
            padding:20px 10px 10px 140px !important;
            text-align: center;
            .arrow{
                display:none;
            }
            .row{
                margin-bottom: 0 !important;
                .google{
                    width:100px !important;
                }
                .apple{
                    width:100px !important;
                    float:left !important;
                }
                .slider-button{
                    padding:15px !important;
                    background-size:80px auto !important;
                }
            }
        }
    } 
}

@media (max-width:$screen-xxxs-max){
    .slider{
        .slider-mobile{
            padding-right:180px !important;
        }
    }
    .tp-caption {
        h1{
            font-size:25px !important;
        }
        .slider-buttons{
            padding:20px 10px 10px 100px !important;
            text-align: center;
            .arrow{
                display:none;
            }
            .row{
                margin-bottom: 0 !important;
                .google{
                    width:80px !important;
                }
                .apple{
                    width:80px !important;
                    float:left !important;
                }
                .slider-button{
                    padding:5px !important;
                    background-size:70px auto !important;
                }
            }
        }
    }
}