ol{
    padding-left:20px;
    margin-top:15px;
}

.modal{
    div,p,h4,li{
        font-family: corbertregular;
    }
    strong{
        font-size:15px;
    }
    
    .modal-dialog{
        width:1024px;
        max-width:100%;
    }
}